{% extends 'base.html' %}

{% block nav_tasks_cls %}active{% endblock %}

{% block content %}
<div class="page-header">
    <h2>Parcels</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Task</th>
            <th>Planet</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks_page %}
        <tr>
            <td>{{ task.process.parcel.id }}</td>
            <td>{{ task.flow_task }}</td>
            <td>{{ task.process.parcel.planet }}</td>
            <td class="col-md-6">{{ process.parcel.description|linebreaks }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No tasks yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
