<!DOCTYPE>
<html lang="en">
<head>
    <title>{% block title %}Sales Contract Approval{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
        .glyphicon {
              min-width: 15px;
        }
    </style>
    {% block css %}{% endblock css %}
</head>
<body>
    {% block nav %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav" style="width:100%">
                <li><a class="navbar-brand" href="/">Sales Contract Approval</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user|default:"Login" }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for user in users %}
                            <li><a href="{% url 'login' %}?user_pk={{ user.pk }}"><i class="glyphicon {% if request.user == user %}glyphicon-ok{% endif %}"></i> {{ user }}</a></li>
                            {% endfor %}
                            {% if request.user.is_authenticated %}
                            <li class="divider"></li>
                            <li><a href="{% url 'login' %}"><i class="glyphicon"></i> Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    {% endblock nav %}

    <div class="container">
        {% block container %}
        <div class="row">
            <div class="col-md-2">
                {% block menu %}
                <ul class="nav nav-pills nav-stacked">
                    {% if has_start_permission %}
                    <li>
                        <a class="btn btn-default text-left" href="{% url 'viewflow:start' %}">Start New</a>
                    </li>
                    {% endif %}
                    <hr/>
                    <li {% if request.GET.filter == 'assigned' or not request.GET.filter %}class="active"{% endif %}>
                        <a href="?filter=assigned">Assigned&nbsp;({{ task_data.assigned.count }})</a>
                    </li>
                    <li {% if request.GET.filter == 'unassigned' %}class="active"{% endif %}>
                        <a href="?filter=unassigned">Unassigned&nbsp;({{ task_data.unassigned.count }})</a>
                    </li>
                    <hr/>
                    {% if perms.contract.can_notify_equipment_received %}
                    <li {% if request.GET.filter == 'equipment_wait' %}class="active"{% endif %}>
                        <a href="?filter=equipment_wait">Equipment wait&nbsp;({{ task_data.equipment_wait.count }})</a>
                    </li>
                    {% endif %}
                </ul>
                {% endblock menu %}
            </div>
            <div class="col-md-10">
                {% block content %}{% endblock content %}
            </div>
        </div>
        {% endblock container %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>
